body {
  background-image: url(../ship_on_bg.png);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  cursor: pointer;
}


.box {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}





.icon {
  font-size: 35px;
  color: #ffffff;
}

